asgiref==3.8.1
cffi==1.16.0
crispy-bootstrap5==2024.2
cryptography==42.0.5
Django==4.2.11
django-crispy-forms==2.1
django-extensions==3.2.3
django-filter==24.2
djangorestframework==3.15.1
importlib_metadata==7.1.0
Markdown==3.6
MarkupSafe==2.1.5
ply==3.11
pycparser==2.22
pyOpenSSL==24.1.0
six==1.16.0
sqlparse==0.5.0
thriftpy2==0.4.20
transaction==4.0
typing_extensions==4.11.0
Werkzeug==3.0.2
zipp==3.18.1
zope.interface==6.3
