{% extends 'base.html' %}

{% block title %}
    Transaction History
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">Transactions made by users</h1>
        {% if transactions %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Amount</th>
                        <th>Transaction Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.sender.email }}</td>
                            <td>{{ transaction.receiver.email }}</td>
                            <td>{{ transaction.senderCurrencySign }}{{ transaction.amountInSendersCurrency }}</td>
                            <td>{{ transaction.timestamp }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No transactions found.</p>
        {% endif %}
    </div>
{% endblock %}
