{% extends 'base.html' %}

{% block title %}
    Login to an Account
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mb-4">Login</h1>
    <form id="formAuthentication" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="id_username" required>
            <div class="invalid-feedback">
                Please enter your username.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="id_password" required>
            <div class="invalid-feedback">
                Please enter your password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="text-center mt-3">Don't have an account? <a href="/register" class="link-primary">Create an account</a>.</p>
{% endblock %}
