{% extends 'base.html' %}

{% block title %}
    Notifications
{% endblock %}

{% block content %}

    <h1>Notifications</h1>
        <div class="notifications">
            {% for transaction in transactions %}
                <div class="notification">
                    <p>You have a payment from {{ transaction.sender.email }} ({{ currency }} {{ transaction.amountInReceiversCurrency }}).</p>
                </div>
            {% endfor %}
        </div>

        <div class="notifications">
            {% for request in requests %}
                <div class="notification">
                    <p>You have a new payment request from {{ request.requestsSender.email }} ({{ currency }} {{ request.moneyInRequestReceiversCurrency }}).</p>
                </div>
            {% endfor %}
        </div>
{% endblock %}
