{% extends 'base.html' %}

{% block title %}
    Requests
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Requests made by users</h1>
        {% if requests %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Request Sender</th>
                    <th>Request Receiver</th>
                    <th>Request Amount</th>
                    <th>Request Date</th>
                    <th>Request Status</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.requestSender.email }}</td>
                        <td>{{ request.requestReceiver.email }}</td>
                        <td>{{ request.requestSenderCurrencySign }}{{ request.amount }}</td>
                        <td>{{ request.timestamp }}</td>
                        <td>
                            {% if request.accepted %}
                                Accepted
                            {% else %}
                                Pending
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No requests found.</p>
        {% endif %}
    </div>
{% endblock %}
